DATABASE_URL=file:./data/dev.db

BASE_URL=http://localhost:3000

# clerk
ENABLE_CLERK=1
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NUXT_CLERK_SECRET_KEY=

# better-auth
ENABLE_BETTER_AUTH=0
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
